scikit-learn>=0.22.1
PyYAML>=5.1.2
numpy
pytest
toolwrapper
joblib
sacremoses
bicleaner-hardrules>=2.1
sentencepiece
tensorflow>=2.6.5
glove-python-binary==0.2.0
fuzzywuzzy
python-Levenshtein
transformers>=4.10.3,<5.0.0
psutil
